{% extends 'base2.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}Recent Activity | Feather.ai{% endblock  %}

{% block styles %}
<link rel="stylesheet" href="{% static 'Css/recentActivity.css' %} " />
{% endblock  %}

{% block bootstrap %}
{% endblock %}
{% block content %}
<div class="main-page">
    <div class="part-1">
        <div>
            <img
                src="{% static 'images/timer-2.svg'%}"
                alt="chat logo"
            />
        </div>
        <p>Recent Activity</p>
    </div>

    <div class="part-2">
        <p>recent activity</p>
        
  {% if is_paginated %}
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo;</a>
        <a href="?page={{ page_obj.previous_page_number }}">&lsaquo;</a>
      {% endif %}

      {% for page in paginator.page_range %}
        {% if page == page_obj.number %}
          <a class="current-page" href="?page={{ page }}">{{ page }}</a>
        {% else %}
          <a href="?page={{ page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">&rsaquo;</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
      {% endif %}
    </span>
  </div>
{% endif %}
        <p>
            back to previous requests are make changes to
            generated content
        </p>
        <div class="previous-requests">
            <p>refer to all your recent requests :</p>
            {% for activity in activities %}
            {% if  activity.idOfActivity%}
                {% if activity.activity_type == 'Article Created' %}
                    <a href="{% url 'article-detail' activity.idOfActivity %}" >
                        <div>
                            <div class="requests">
                                <div>
                                    {% if activity.activity_type == 'Article Created' %}
                                    <img src="{% static '/images/aiArticle.svg' %}" alt="article icon">
                                    {% else %}
                                        {% if activity.activity_type == 'Chat Feather' %}
                                        <img src="{% static '/images/Vector-1.svg' %}" alt="chat icon">
            
                                        {% else %}
                                            <img src="{% static '/images/timer-2.svg' %}" alt="timer icon">
                                        {% endif %}
                                    {% endif %}
            
                                </div>
                                <div>
                                    <h1 style="text-transform: uppercase;">{{activity.activity_type}}</h1>
                                    <p >{{ activity.details }}</p>
                                    <div class="details">
                                        <img src="{% static '/images/timer.svg' %}" alt="clock icon">
                                        <p>{{activity.timestamp|time_since_minutes}}</p>
                                        <img src="{% static 'images/location.svg' %}" alt="language:">
                                        <p>english</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                {% else %}
                    {% if activity.activity_type == 'Email Subject Lines Created' %}
                    <a href="{% url 'email_subjects' activity.idOfActivity %}" >
                            <div>
                                <div class="requests">
                                    <div>
                                        {% if activity.activity_type == 'Article Created' %}
                                        <img src="{% static '/images/aiArticle.svg' %}" alt="article icon">
                                        {% else %}
                                            {% if activity.activity_type == 'Chat Feather' %}
                                            <img src="{% static '/images/Vector-1.svg' %}" alt="chat icon">
                
                                            {% else %}
                                                <img src="{% static '/images/timer-2.svg' %}" alt="timer icon">
                                            {% endif %}
                                        {% endif %}
                
                                    </div>
                                    <div>
                                        <h1 style="text-transform: uppercase;">{{activity.activity_type}}</h1>
                                        <p >{{ activity.details }}</p>
                                        <div class="details">
                                            <img src="{% static '/images/timer.svg' %}" alt="clock icon">
                                            <p>{{activity.timestamp|time_since_minutes}}</p>
                                            <img src="{% static 'images/location.svg' %}" alt="language:">
                                            <p>english</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                    </a>
                    {% else %}
                    {% if activity.activity_type == 'Social Media Captions Created' %}
                    <a href="{% url 'social_media_captions' activity.idOfActivity %}" >
                        <div>
                            <div class="requests">
                                <div>
                                    {% if activity.activity_type == 'Article Created' %}
                                    <img src="{% static '/images/aiArticle.svg' %}" alt="article icon">
                                    {% else %}
                                        {% if activity.activity_type == 'Chat Feather' %}
                                        <img src="{% static '/images/Vector-1.svg' %}" alt="chat icon">
            
                                        {% else %}
                                            <img src="{% static '/images/timer-2.svg' %}" alt="timer icon">
                                        {% endif %}
                                    {% endif %}
            
                                </div>
                                <div>
                                    <h1 style="text-transform: uppercase;">{{activity.activity_type}}</h1>
                                    <p >{{ activity.details }}</p>
                                    <div class="details">
                                        <img src="{% static '/images/timer.svg' %}" alt="clock icon">
                                        <p>{{activity.timestamp|time_since_minutes}}</p>
                                        <img src="{% static 'images/location.svg' %}" alt="language:">
                                        <p>english</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    
                    {% else %}
                    <div>
                        <div class="requests">
                            <div>
                                {% if activity.activity_type == 'Article Created' %}
                                <img src="{% static '/images/aiArticle.svg' %}" alt="article icon">
                                {% else %}
                                    {% if activity.activity_type == 'Chat Feather' %}
                                    <img src="{% static '/images/Vector-1.svg' %}" alt="chat icon">
        
                                    {% else %}
                                        <img src="{% static '/images/timer-2.svg' %}" alt="timer icon">
                                    {% endif %}
                                {% endif %}
        
                            </div>
                            <div>
                                <h1 style="text-transform: uppercase;">{{activity.activity_type}}</h1>
                                <p >{{ activity.details }}</p>
                                <div class="details">
                                    <img src="{% static '/images/timer.svg' %}" alt="clock icon">
                                    <p>{{activity.timestamp|time_since_minutes}}</p>
                                    <img src="{% static 'images/location.svg' %}" alt="language:">
                                    <p>english</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                {% endif %}
                {% else %}
                <div>
                    <div class="requests">
                        <div>
                            {% if activity.activity_type == 'Article Created' %}
                            <img src="{% static '/images/aiArticle.svg' %}" alt="article icon">
                            {% else %}
                                {% if activity.activity_type == 'Chat Feather' %}
                                <img src="{% static '/images/Vector-1.svg' %}" alt="chat icon">
    
                                {% else %}
                                    <img src="{% static '/images/timer-2.svg' %}" alt="timer icon">
                                {% endif %}
                            {% endif %}
    
                        </div>
                        <div>
                            <h1 style="text-transform: uppercase;">{{activity.activity_type}}</h1>
                            <p >{{ activity.details }}</p>
                            <div class="details">
                                <img src="{% static '/images/timer.svg' %}" alt="clock icon">
                                <p>{{activity.timestamp|time_since_minutes}}</p>
                                <img src="{% static 'images/location.svg' %}" alt="language:">
                                <p>english</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        {% endfor %}

        </div>
    </div>
    
      

</div>

{% endblock %}

{% block scripts %}
<script>
    var staticUrl   = "{% static 'images/' %}";
</script>
<script src=" {% static 'Js/recentActivity.js' %}"></script>

{% endblock %}
