{% extends 'base.html' %}
{% load static %}
{% block title %}
Quraan Surahs
{% endblock title %}
{% block extra_static_urls %}
<style>
    #loader,#breaker,#breaker-two{display:none !important;}
    #header{display:none !important;}
    #about{display:block !important;}
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
   
</script>
{% endblock extra_static_urls %}
{% block main_content %}
<div id="about">  
    <!--about content-->
    <div id="" class="container">
        <div class="about-header">
            حصن <span class="color">المسلم</span>
        </div>
        
        <div class="row" style="max-width: 100%;">
            {% for zikr in zikr_list %}
            <div class="col-md-3">
                <div class="service wow" style="width:100%;height: 80px;display: inline-flex;"> 
                    <div class="service-description text-white" style="z-index: 100;width:80%">
                        <p class="pt-3"><button class="show-card"  data-id="{{zikr.id}}" style="text-decoration:none;color:#fff;font-size:25px;background:transparent;border:none;">{{zikr.zikr}}</button></p>
                    </div>
                    <div class="service-img" style="text-align: left;width:20%">
                        <img src="{% static 'new/images/logoo.png' %}" style="width:100%;height: 100%;margin: 0;" >
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="pop-up-card" id="my-slider" style="height:300px auto;width:80%">
                    <div id="carouselExampleControls{{zikr.id}}" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner text-center">
                          {% for con in zikr.azkarcontent_set.all%}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <p class="pt-3" style="font-size:20px">{{con.content}}</p>
                                <p class="pt-3" style="font-size:22px">{% if con.repeat > 0 %}تكرار ( {{con.repeat}} ){% endif %}</p>
                                {% if forloop.last %}<p> هنا تم الانتهاء من {{zikr.zikr}} <i class="fa fa-check"></i></p>{% endif %}
                            </div>
                          {% endfor %}
                        </div>
                        <div class="row ">
                            <div class="col-md-8 mx-auto">
                                <div class="row mt-5" style="">
                                    <div class="col-md-6">
                                        <button class="btn btn-dark col-md-12" type="button" data-bs-target="#carouselExampleControls{{zikr.id}}" data-bs-slide="prev">
                                            <span class="carousel-control" aria-hidden="true">السابق</span>
                                            <span class="visually-hidden">Previous</span>
                                          </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-dark col-md-12" type="button" data-bs-target="#carouselExampleControls{{zikr.id}}" data-bs-slide="next">
                                            <span class="carousel-control" aria-hidden="true">التالي</span>
                                            <span class="visually-hidden">Next</span>
                                          </button>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="close-btn text-danger" style="background:none;border:none;display:none;"><i class="fa fa-close" aria-hidden="true"></i></button>
                </div>
            </div>
            {% endfor %} 

            {% for duaa in duaa_list %}
            <div class="col-md-3">
                <div class="service wow" style="width:100%;height: 80px;display: inline-flex;"> 
                    <div class="service-description text-white" style="z-index: 100;width:80%">
                        {% comment %} <p class="pt-3"><a href="{% url 'app:quran' surah.id %}" style="text-decoration:none;color:#fff;font-size:25px"> سورة  {{surah.name}}</a></p> {% endcomment %}
                        <p class="pt-3"><button class="show-card"  data-id="{{duaa.id}}" style="text-decoration:none;color:#fff;font-size:25px;background:transparent;border:none;">{{duaa.title}}</button></p>
                        
                    </div>
                    <div class="service-img" style="text-align: left;width:20%">
                        <img src="{% static 'new/images/logoo.png' %}" style="width:100%;height: 100%;margin: 0;" >
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="pop-up-card" id="my-slider" style="height:300px auto;width:80%">
                    <div id="carouselExampleControls{{duaa.id|add:'6'}}" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner text-center">
                          {% for con in duaa.duaacontent_set.all%}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <p class="pt-3" style="font-size:20px">{{con.content}}</p>
                                {% if forloop.last %}<p> هنا تم الانتهاء من {{duaa.title}} <i class="fa fa-check"></i></p>{% endif %}
                            </div>
                          {% endfor %}
                        </div>
                        <div class="row ">
                            <div class="col-md-8 mx-auto">
                                <div class="row mt-5" style="">
                                    <div class="col-md-6">
                                        <button class="btn btn-dark col-md-12" type="button" data-bs-target="#carouselExampleControls{{duaa.id|add:'6'}}" data-bs-slide="prev">
                                            <span class="carousel-control" aria-hidden="true">السابق</span>
                                            <span class="visually-hidden">Previous</span>
                                          </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-dark col-md-12" type="button" data-bs-target="#carouselExampleControls{{duaa.id|add:'6'}}" data-bs-slide="next">
                                            <span class="carousel-control" aria-hidden="true">التالي</span>
                                            <span class="visually-hidden">Next</span>
                                          </button>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="close-btn text-danger" style="background:none;border:none;display:none;"><i class="fa fa-close" aria-hidden="true"></i></button>
                </div>
            </div>
            {% endfor %} 

            {% for roqiah in roqia_list %}
            <div class="col-md-3">
                <div class="service wow" style="width:100%;height: 80px;display: inline-flex;"> 
                    <div class="service-description text-white" style="z-index: 100;width:80%">
                        {% comment %} <p class="pt-3"><a href="{% url 'app:quran' surah.id %}" style="text-decoration:none;color:#fff;font-size:25px"> سورة  {{surah.name}}</a></p> {% endcomment %}
                        <p class="pt-3"><button class="show-card"  data-id="{{roqiah.id}}" style="text-decoration:none;color:#fff;font-size:25px;background:transparent;border:none;">{{roqiah.title}}</button></p>
                        
                    </div>
                    <div class="service-img" style="text-align: left;width:20%">
                        <img src="{% static 'new/images/logoo.png' %}" style="width:100%;height: 100%;margin: 0;" >
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="pop-up-card" id="my-slider" style="height:300px auto;width:80%">
                    <div id="carouselExampleControls{{roqiah.id|add:'18'}}" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner text-center">
                          {% for roqia in roqiah.roqiahshareahcontent_set.all%}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <p class="pt-3" style="font-size:20px">{{roqia.content}}</p>
                                {% if forloop.last %}<p> هنا تم الانتهاء من {{roqia.title}} <i class="fa fa-check"></i></p>{% endif %}
                            </div>
                          {% endfor %}
                        </div>
                        <div class="row ">
                            <div class="col-md-8 mx-auto">
                                <div class="row mt-5" style="">
                                    <div class="col-md-6">
                                        <button class="btn btn-dark col-md-12" type="button" data-bs-target="#carouselExampleControls{{roqiah.id|add:'18'}}" data-bs-slide="prev">
                                            <span class="carousel-control" aria-hidden="true">السابق</span>
                                            <span class="visually-hidden">Previous</span>
                                          </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-dark col-md-12" type="button" data-bs-target="#carouselExampleControls{{roqiah.id|add:'18'}}" data-bs-slide="next">
                                            <span class="carousel-control" aria-hidden="true">التالي</span>
                                            <span class="visually-hidden">Next</span>
                                          </button>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="close-btn text-danger" style="background:none;border:none;display:none;"><i class="fa fa-close" aria-hidden="true"></i></button>
                </div>
            </div>
            {% endfor %} 

            {% for arkan in arkan_list %}
            <div class="col-md-3">
                <div class="service wow" style="width:100%;height: 80px;display: inline-flex;"> 
                    <div class="service-description text-white" style="z-index: 100;width:80%">
                        {% comment %} <p class="pt-3"><a href="{% url 'app:quran' surah.id %}" style="text-decoration:none;color:#fff;font-size:25px"> سورة  {{surah.name}}</a></p> {% endcomment %}
                        <p class="pt-3"><button class="show-card"  data-id="{{arkan.id}}" style="text-decoration:none;color:#fff;font-size:25px;background:transparent;border:none;">{{arkan.title}}</button></p>
                        
                    </div>
                    <div class="service-img" style="text-align: left;width:20%">
                        <img src="{% static 'new/images/logoo.png' %}" style="width:100%;height: 100%;margin: 0;" >
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="pop-up-card" id="my-slider" style="height:300px auto;width:80%">
                    <div id="carouselExampleControls{{arkan.id|add:'25'}}" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner text-center">
                          {% for rokn in arkan.arkancontent_set.all%}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <h2 class="text-center">{{rokn.title}}</h2>
                                <p class="pt-3" style="font-size:20px">{{rokn.content}}</p>
                                {% if forloop.last %}<p> هنا تم الانتهاء من {{arkan.title}} <i class="fa fa-check"></i></p>{% endif %}
                            </div>
                          {% endfor %}
                        </div>
                        <div class="row ">
                            <div class="col-md-8 mx-auto">
                                <div class="row mt-5" style="">
                                    <div class="col-md-6">
                                        <button class="btn btn-dark col-md-12" type="button" data-bs-target="#carouselExampleControls{{arkan.id|add:'25'}}" data-bs-slide="prev">
                                            <span class="carousel-control" aria-hidden="true">السابق</span>
                                            <span class="visually-hidden">Previous</span>
                                          </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-dark col-md-12" type="button" data-bs-target="#carouselExampleControls{{arkan.id|add:'25'}}" data-bs-slide="next">
                                            <span class="carousel-control" aria-hidden="true">التالي</span>
                                            <span class="visually-hidden">Next</span>
                                          </button>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="close-btn text-danger" style="background:none;border:none;display:none;"><i class="fa fa-close" aria-hidden="true"></i></button>
                </div>
            </div>
            {% endfor %} 
            
            {% for sebha in sebha_list %}
            <div class="col-md-3">
                <div class="service wow" style="width:100%;height: 80px;display: inline-flex;"> 
                    <div class="service-description text-white" style="z-index: 100;width:80%">
                        {% comment %} <p class="pt-3"><a href="{% url 'app:quran' surah.id %}" style="text-decoration:none;color:#fff;font-size:25px"> سورة  {{surah.name}}</a></p> {% endcomment %}
                        <p class="pt-3"><button class="show-card"  data-id="{{sebha.id}}" style="text-decoration:none;color:#fff;font-size:25px;background:transparent;border:none;">{{sebha.name}}</button></p>
                        
                    </div>
                    <div class="service-img" style="text-align: left;width:20%">
                        <img src="{% static 'new/images/logoo.png' %}" style="width:100%;height: 100%;margin: 0;" >
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="pop-up-card" id="my-slider" style="height:300px auto;width:80%">
                    <div id="carouselExampleControls{{sebha.id|add:'29'}}" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner text-center">           
                            {% for i in "x"|rjust:"33" %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <h2 class="text-center">{{sebha.name}}</h2>
                                    <p class="pt-3" style="font-size:22px">( {{ forloop.counter }} / {{sebha.count}} )</p>
                                    {% if forloop.last %}<p> هنا تم الانتهاء من تسبيح " {{sebha.name}} " <i class="fa fa-check"></i></p>{% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row ">
                            <div class="col-md-8 mx-auto">
                                <div class="row mt-5" style="">
                                    <div class="col-md-6">
                                        <button class="btn btn-dark col-md-12" type="button" data-bs-target="#carouselExampleControls{{sebha.id|add:'29'}}" data-bs-slide="prev">
                                            <span class="carousel-control" aria-hidden="true">السابق</span>
                                            <span class="visually-hidden">Previous</span>
                                          </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-dark col-md-12" type="button" data-bs-target="#carouselExampleControls{{sebha.id|add:'29'}}" data-bs-slide="next">
                                            <span class="carousel-control" aria-hidden="true">التالي</span>
                                            <span class="visually-hidden">Next</span>
                                          </button>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="close-btn text-danger" style="background:none;border:none;display:none;"><i class="fa fa-close" aria-hidden="true"></i></button>
                </div>
            </div>
            {% endfor %} 
  
        </div> 
    </div>
    
    <style>
        .card-container {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            z-index:10000;
        }
        
        .pop-up-card {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            border:2px solid; 
            border-radius:25px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            z-index:10000;

        } 
        audio:hover, audio:focus, audio:active
        {
        box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
        transform: scale(1.05);
        }


        audio
        {
        transition:all 0.5s linear;
        box-shadow: 2px 2px 4px 0px #006773;
        border-radius:25px ;
        }                      
    </style>
    <script>
        const buttons = document.querySelectorAll('.show-card');
        const cardContainers = document.querySelectorAll('.card-container');
        const popUpCards = document.querySelectorAll('.pop-up-card');
        const closeButtons = document.querySelectorAll('.close-btn');
    
        buttons.forEach((button, index) => {
            const itemId = button.dataset.id;
            const cardContainer = cardContainers[index];
            const popUpCard = popUpCards[index];
            
            button.addEventListener('click', () => {
                cardContainer.style.display = 'block';
            });
    
            closeButtons[index].addEventListener('click', () => {
                cardContainer.style.display = 'none';
            });
    
            window.addEventListener('click', (e) => {
                if (e.target === cardContainer) {
                    cardContainer.style.display = 'none';
                }
            });
        });
    </script>
</div>
{% endblock main_content %}

