{% extends 'base.html' %}
{% load static %}
{% block title %}
Quraan Surahs
{% endblock title %}
{% block extra_static_urls %}
<style>
    #loader,#breaker,#breaker-two{display:none !important;}
    #header{display:none !important;}
    #about{display:block !important;}
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock extra_static_urls %}
{% block main_content %}
<div id="about">  
    <!--about content-->
    <div id="" class="container">
        <div class="about-header">
            القرأن <span class="color">الكريم</span>
        </div>
        <div class="row">
            <div class="col-md-12 mb-5" >
                <form class="form-control" method="get" action="{% url 'app:search' %}" style="border: none;background:none;">
                    <div class="row px-5">
                            <div class="col-md-10 my-3">
                                <input type="text" class="form-control py-3" id="search_input" name="keyword" placeholder="ابحث عن الايه القرأنيه بالتشكيل" style="border-radius: 15px; font-size: 22px;background:none;color:#fff;box-shadow:none;width:100%">
                            </div>
                            <div class="col-md-1 p-2">
                                <button type="button" id="search_btn"  class="col-md-12 py-3" style="width:90%"><i class="fa fa-microphone" aria-hidden="true"></i></button>
                            </div>
                            <div class="col-md-1 p-2">
                                <button type="submit" id="submit_btn" class="col-md-12 py-3" style="width:90%"><i class="fa fa-search" aria-hidden="true"></i></button> 
                            </div>  
                    </div>
                </form>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                      const outputElement = document.getElementById('search_input');
                      const startButton = document.getElementById('search_btn');
                
                      // Check if the browser supports the Web Speech API
                      if ('SpeechRecognition' in window || 'webkitSpeechRecognition' in window) {
                        // Create a new SpeechRecognition object
                        const recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition)();
                
                        // Set the language to Arabic
                        recognition.lang = 'ar-SA';
                
                        // Define event handlers for recognition
                        recognition.onstart = function() {
                          outputElement.value = 'استمع ...';
                        };
                
                        recognition.onresult = function(event) {
                          const transcript = event.results[event.results.length - 1][0].transcript;
                          outputElement.value = transcript;
                        };
                
                        recognition.onerror = function(event) {
                          console.error('Speech recognition error:', event.error);
                        };
                
                        recognition.onend = function() {
                          if (outputElement.value === 'استمع ...') {
                            outputElement.value = 'لا اسمع شئ ....';
                          }
                        };
                
                        // Start the recognition process when the button is clicked
                        startButton.addEventListener('click', function() {
                          outputElement.value = 'استمع ...';
                          recognition.start();
                        });
                      } else {
                        outputElement.value = 'هذه الخدمة غير متوفره في هذا المتصفح';
                      }
                    });
                  </script>
            </div>
        </div>
        <div class="row" style="max-width: 100%;">
            {% for surah in all_surahs %}
            <div class="col-md-3">
                <div class="service wow" style="width:100%;height: 80px;display: inline-flex;"> 
                    <div class="service-description text-white" style="z-index: 100;width:80%">
                        {% comment %} <p class="pt-3"><a href="{% url 'app:quran' surah.id %}" style="text-decoration:none;color:#fff;font-size:25px"> سورة  {{surah.name}}</a></p> {% endcomment %}
                        <p class="pt-3"><button class="show-card"  data-id="{{surah.id}}" style="text-decoration:none;color:#fff;font-size:25px;background:transparent;border:none;"> سورة  {{surah.name}}</button></p>
                        
                    </div>
                    <div class="service-img" style="text-align: left;width:20%">
                        <img src="{% static '' %}new/images/quran.png" style="width:100%;height: 100%;margin: 0;" alt="service-one">
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="pop-up-card">
                    <h2 class="text-center mb-5">
                        <div class="row">
                            <div class="col-md-4" id="surah_au">
                                <audio id="surahAudio" controls="controls" class="align-right">
                                    <source id="activeAyah" src="{% if surah.number < 10 %}https://server8.mp3quran.net/afs/00{{surah.number}}.mp3{% elif 10 < surah.number < 100  %}https://server8.mp3quran.net/afs/0{{surah.number}}.mp3{% else %}https://server8.mp3quran.net/afs/{{surah.number}}.mp3{% endif %}" title="2826" type="audio/mp3">
                                </audio>
                            </div>
                            <div class="col-md-7" id="surah_te">
                                سورة {{surah.name}} 
                            </div>
                            <div class="col-md-1" id="surah_ic">
                                <a href="{% url 'app:quran' surah.id %}" style="text-decoration:none;font-size:25px"><i class="fa fa-book text-dark" aria-hidden="true"></i></a>
                            </div>

                        </div>
                         </h2>
                    
                    <div class="row">
                        <div class="col-md-2">
                            <p>معني أسمها :</p> 
                        </div>
                        <div class="col-md-10">
                             <p>{{surah.maeni_asamuha}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>سبب تسميتها :</p> 
                        </div>
                        <div class="col-md-10">
                             <p>{{surah.sabab_tasmiatiha}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>أسماؤها :</p> 
                        </div>
                        <div class="col-md-10">
                             <p>{{surah.asmawuha}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>مقصدها العام :</p> 
                        </div>
                        <div class="col-md-10">
                             <p>{{surah.maqsiduha_aleamu}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>سبب نزولها :</p> 
                        </div>
                        <div class="col-md-10">
                             <p>{{surah.sabab_nuzuliha}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>فضلها :</p> 
                        </div>
                        <div class="col-md-10">
                             <p>{{surah.fadluha}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>مناسباتها :</p> 
                        </div>
                        <div class="col-md-10">
                             <p>{{surah.munasabatiha}}</p>
                        </div>
                    </div>
                    <button class="close-btn text-danger" style="background:none;border:none;"><i class="fa fa-close" aria-hidden="true"></i></button>
                    
                </div>
            </div>
           
            {% endfor %}  
        </div> 
    </div>
    
    <style>
        .card-container {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            z-index:10000;
        }
        
        .pop-up-card {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            border:2px solid; 
            border-radius:25px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            z-index:10000;

        } 
        audio:hover, audio:focus, audio:active
        {
        box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
        transform: scale(1.05);
        }


        audio
        {
        transition:all 0.5s linear;
        box-shadow: 2px 2px 4px 0px #006773;
        border-radius:25px ;
        }                      
    </style>
    <script>
        const buttons = document.querySelectorAll('.show-card');
        const cardContainers = document.querySelectorAll('.card-container');
        const popUpCards = document.querySelectorAll('.pop-up-card');
        const closeButtons = document.querySelectorAll('.close-btn');
    
        buttons.forEach((button, index) => {
            const itemId = button.dataset.id;
            const cardContainer = cardContainers[index];
            const popUpCard = popUpCards[index];
            
            button.addEventListener('click', () => {
                cardContainer.style.display = 'block';
            });
    
            closeButtons[index].addEventListener('click', () => {
                cardContainer.style.display = 'none';
            });
    
            window.addEventListener('click', (e) => {
                if (e.target === cardContainer) {
                    cardContainer.style.display = 'none';
                }
            });
        });

    </script>
    
    <!--services start-->
    <div id="services">
        <!--services header-->
        <div class="services-heading wow">
            <span class="color">تفسير</span> الايات
        </div>
        <!--services header end-->
        <!--services content-->
        <div class="row">
            <div class="col-md-10 mx-auto">
                <form class="form-control" action="{% url 'app:tafseer' %}" style="border: none;background:none;">
                    <div class="row px-5">
                        <div class="mb-3">
                            <textarea class="form-control" name="t_ayah" style="background: none;color:#fff;font-size: 22px;" placeholder="ادخل الايه المراد تفسيرها" id="exampleFormControlTextarea1" rows="3" required></textarea>
                          </div>
                        <div class="input-group">
                            <select class="form-select" id="inputGroupSelect04" style="background: none;color:#fff;" required aria-label="Example select with button addon" name="tafseer" >
                              <option value=""  style="background: none;color:#c70039;font-size: 18px;">اختر نوع التفسير</option>
                              <option value="1" style="background: none;color:#c70039;font-size: 18px;">تفسير السعدي</option>
                              <option value="2" style="background: none;color:#c70039;font-size: 18px;">تفسير البغوي</option>
                              <option value="3" style="background: none;color:#c70039;font-size: 18px;">تفسير ابن كثير</option>
                              <option value="4" style="background: none;color:#c70039;font-size: 18px;">تفسير القرطبي</option>
                              <option value="5" style="background: none;color:#c70039;font-size: 18px;">تفسير الطبري</option>
                            </select>
                            <button class="m-2 p-3" style="border-radius: 12px;" type="submit">فسر الان</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-9 mx-auto text-center text-white p-5" id="tafsir" style="border:2px solid #c70039;border-radius:25px; display: none;">
                <h2 class="text-center text-uppercase text-center mb-3"> تفسير ابن كثير</h2>
                <p style="text-align: justify;">
                    Give textual form controls like s an upgrade with custom styles, sizing, focus states, and more.Give textual form controls like an upgrade with custom styles, sizing, focus states, and more.Give textual form controls like  an upgrade with custom styles, sizing, focus states, and more.Give textual form controls like an upgrade with custom styles, sizing, focus states, and more.Give textual form controls like  an upgrade with custom styles, sizing, focus states, and more.Give textual form controls like an upgrade with custom styles, sizing, focus states, and more.Give textual form controls like an upgrade with custom styles, sizing, focus states, and more.Give textual form controls like  an upgrade with custom styles, sizing, focus states, and more.Give textual form controls like an upgrade with custom styles, sizing, focus states, and more.Give textual form controls like  an upgrade with custom styles, sizing, focus states, and more.
                </p>
            </div>
        </div>
    </div>

    <div class="">
        <!--services header-->
        <div class="services-heading wow">
           تعليم <span class="color">التجويد</span> 
        </div>
        <div class="row">
            <div class="col-md-10 mx-auto mb-5">
                <div class="row" id="playlist" style="border:3px solid #c70039; padding:20px 10px;border-radius:25px">
                    <div class="col-md-8 mx-auto" id="" style="height:600px;">
                      <iframe id="display-frame" width="100%" height="100%" style="border-radius:25px;"  src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4 text-white" id="" class="">
                      <div class="row">
                        <div class="title"></div>
                        <div class="sub-title">
                          <a href="" class="channel"></a><span id="video-count"> </span>
                        </div>
                      </div>
                      <div id="drop-icon"></div>
                      <div id="vli-videos" style="height:535px; overflow-y:scroll;">
                        {% for vid in tajweed  %}
                        <div class="video-con active-con" video="{{vid.video_url}}">
                          <div class="index title">0</div>
                          <div class="thumb">
                            <img src="{{vid.video_poster}}" alt="">
                          </div>
                          <div class="v-titles">
                            <div class="title mx-2">{{vid.video_title}}</div>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                 
            </div>
        </div>
    </div>
</div>

<style>
    @media screen and (max-width: 600px) {
      .pop-up-card {height: 450px; overflow-y:auto;}
      
    }
    @media  (min-width: 600px) and (max-width: 1400px) {
      .pop-up-card {height: 500px; overflow-y:auto;}
      #search_btn,#submit_btn{
        width:100% !important;
      }
      
    }
</style>

{% endblock main_content %}

