{% load static %}
 <!-- jQuery -->
 <script src="{% static '' %}js/jquery-2.1.0.min.js"></script>

 <!-- Bootstrap -->
 <script src="{% static '' %}js/popper.js"></script>
 <script src="{% static '' %}js/bootstrap.min.js"></script>

 <!-- Plugins -->
 <script src="{% static '' %}js/scrollreveal.min.js"></script>
 <script src="{% static '' %}js/waypoints.min.js"></script>
 <script src="{% static '' %}js/jquery.counterup.min.js"></script>
 <script src="{% static '' %}js/imgfix.min.js"></script> 
 <script src="{% static '' %}js/mixitup.js"></script> 
 <script src="{% static '' %}js/accordions.js"></script>
 
 <!-- Global Init -->
 <script src="{% static '' %}js/custom.js"></script>