{% extends 'base2.html' %}

{% load static %}
{% block title %}AI Article Writer | Feather.ia{% endblock  %}

{% block styles %}
<link rel="stylesheet" href="{% static 'Css/aIArticleWriter.css' %} " />
<link rel="stylesheet" href="{% static 'Css/emailTool.css' %}" />
{% endblock  %}

{% block bootstrap %}
{% endblock %}
{% block content %}

    <div class="main-page">
                    <div class="part-1">
                        <div>
                            <img
                                src="{% static 'images/aiArticle.svg' %}"
                                alt="email icon"
                            />
                            <p>ai article writer</p>
                        </div>
                        <div>
                            <a href="#">
                                <img
                                    src="{% static 'images/Icon  video.svg' %}"
                                    alt="icon video"
                                />
                            </a>
                            
                        </div>
                        
                    </div>

                    <div class="part-2">
                        <div class="part-2-1">
                            <div class="steps">
                                <div class="head">
                                    <img
                                        src="{% static 'images/task-square.svg' %}"
                                        alt=""
                                    />
                                    <p>follow steps</p>
                                </div>
                                <div class="step-by-step">
                                    <div class="one activeLast">
                                        <p class="stepNum ">1</p>
                                        <img
                                            src="{% static 'images/step-1.svg' %}"
                                            alt=""
                                        />
                                        <p class="stepText">KEYWORDS</p>
                                    </div>
                                    <span></span>
                                    <div class="two activeLast">
                                        <p class="stepNum">2</p>
                                        <img
                                            src="{% static 'images/step-2.svg' %}"
                                            alt=""
                                        />
                                        <p class="stepText">IDEAS</p>
                                    </div>
                                    <span></span>
                                    <div class="three active">
                                        <p class="stepNum">3</p>
                                        <img
                                            src="{% static 'images/step-3.svg' %}"
                                            alt=""
                                        />
                                        <p class="stepText">OUTLINE</p>
                                    </div>
                                    <span></span>
                                    <div class="four">
                                        <img
                                            src="{% static 'images/step-4.svg' %}"
                                            alt=""
                                        />
                                        <p class="stepNum">4</p>
                                        <p class="stepText">ARTICLE</p>
                                    </div>
                                </div>
                            </div>

                            <!-- ------------------step 3 ------------>
                            <form id="generateForm" method="POST" action="{% url 'get outlines' %}">
                                {% csrf_token %}

                            <div class="complete-the-fields step three">
                                <div class="p1">
                                    <div class="head">
                                        <img
                                            src="{% static 'images/Icon ben.svg' %}"
                                            alt=""
                                        />
                                        <p>complete the fields</p>
                                    </div>
                                    <div>
                                        <label for="inputSearchKeywords">
                                            <p>topic</p>
                                            <img
                                                src="{% static 'images/Exclamation mark.svg' %}"
                                                alt=""
                                            />
                                        </label>
                                        <input
                                            type="text"
                                            placeholder="The Importance of UI/UX Design in Product Development"
                                            class="inputSearchKeywords"
                                            id="inputSearchKeywords"
                                            value = "{{selected_idea}}"
                                        />
                                    </div>
                                    <div>
                                        <label for="inputAddTag">
                                            <p>keywords</p>
                                            <img
                                                src="{% static 'images/Exclamation mark.svg' %}"
                                                alt=""
                                            />
                                        </label>
                                        <input
                                            type="text"
                                            placeholder="Add a tag..."
                                            class="inputAddTag"
                                            id="inputAddTag"
                                        />
                                        <div class="someKeyWords">

                                            {% for keyword in  topic_keywords %}
                                            <div>
                                                <p>{{keyword}}</p>
                                                <ion-icon
                                                    name="close-outline"
                                                    class="deleteKey"
                                                ></ion-icon>
                                            </div>  
                                            {% endfor %}
                                            
                                        </div>
                                    </div>
                                    <div>
                                        <label>
                                            <p>tone of voice</p>
                                        </label>
                                        <div class="divSelect tone">
                                            <p class="valueSelect">
                                                {{selected_tone}}
                                            </p>
                                            <ion-icon
                                                name="caret-down-outline"
                                            ></ion-icon>
                                        </div>
                                    </div>
                                    <div class="ulSelect tone">
                                        <ul>
                                            <li>Professional</li>
                                            <li>excited</li>
                                            <li>encouraging</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <label>
                                            <p>language</p>
                                        </label>
                                        <div class="divSelect language">
                                            <p class="valueSelect">{{selected_language}}</p>
                                            <ion-icon
                                                name="caret-down-outline"
                                            ></ion-icon>
                                        </div>
                                    </div>
                                    <div class="ulSelect language">
                                        <ul>
                                            <li>English</li>
                                            <li>arabic</li>
                                            <li>German</li>
                                        </ul>
                                    </div>
                                </div>

                                <div>
                                    <div class="btnBack">
                                        <ion-icon
                                            name="caret-back-outline"
                                        ></ion-icon>
                                    </div>
                                    <input type="number" name="" id="" />
                                    <button type="submit" class="GenerateOutline">
                                        Generate Outlines
                                    </button type="submit">
                                    <div class="btnNext">
                                        <ion-icon
                                            name="caret-forward-outline"
                                        ></ion-icon>
                                    </div>
                                </div>
                            </div>
                        </form> 
                            <!-- ---------------------------------- -->
                        </div>
                        <div class="part-2-2">
  
                            {% if genrated_outlines_list %}
                            <div class="AllOutline" style="display: block;">
                                {% if not select_individual_outlines %}
                                <button class="btnNext" id="nextButton">
                                    <p>next</p>
                                    <ion-icon name="paper-plane-outline" role="img" class="md hydrated"></ion-icon>
                                </button> 

                                {% else %}
                                <button class="btnNext valid" id="nextButton">
                                    <p>next</p>
                                    <ion-icon name="paper-plane-outline" role="img" class="md hydrated"></ion-icon>
                                </button> 
                                {% endif %}

                                <form id="select_individualForm" method="POST" action="{% url 'get outlines' %}">
                                    {% csrf_token %}
                                    <div class="toggle">
                                    <p>select individual outlines</p>
                                    <label class="switch">
                                        <input type="checkbox" name="select_individual" {% if select_individual_outlines %}checked{% endif %}>
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                </form>
                                <ul>
                                    {% if select_individual_outlines %}

                                    {% for outlines in genrated_outlines_list %}
                                    {% for outline in  outlines %}

                                    <li>
                                        <div class="select">
                                            <span>
                                                <ion-icon
                                                    name="checkmark-outline"
                                                ></ion-icon>
                                            </span>
                                            <p class="outlineText">
                                                {{outline}}
                                            </p>
                                        </div>
                                        <div class="details">
                                            <p>49 words / 224 character</p>
                                            <!-- <div class="edit">
                                                <img src="{% static 'images/copy.svg' %}" alt="" class="imgCopy">
                                                <img src="{% static 'images/Icon  trash.svg' %}" alt="" class="imgDelete">
                                                <img src="{% static 'images/Icon ben.svg' %}" alt="" class="imgEdit">
                                            </div> -->
                                        </div>
                                    </li>

                                    {% endfor %}

                                {% endfor %}


                                    {% else %}
                                    {% for outlines in genrated_outlines_list %}

                                    <li onclick="selectOutlines(this)">
                                        <div class="select">
                                            <div>
                                                <ion-icon name="ellipse-outline"></ion-icon>

                                            </div>
                                            <ul>
                                                {% for outline in  outlines %}
                                                <li class="outlineText">{{outline}}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="details">
                                            <p>49 words / 224 character</p>
                                        </div>
                                    </li>
                                    
                                    {% endfor %}

                                    {% endif %}
   
                                </ul>
                            </div>
                            {% else %}
                            <div class="empty" style="display: flex;">
                                <img
                                    src="{% static 'images/img empty ai article.svg' %}"
                                    alt="no article"
                                />
                                <p>
                                    Your copies created by artificial
                                    intelligence will appear here.
                                </p>
                            </div>
                            {% endif %}

                            <!-- -------------------- -->

                            <!-- --------------------- -->
                        </div>
                    </div>
    </div>

{% endblock %}
{% block scripts %}
<script src=" {% static 'Js/aIArticleWriter.js' %}"></script>
<script src=" {% static 'Js/js-3.js' %}"></script>
<script src=" {% static 'Js/js-1.js' %}"></script>
<script>
    var staticUrl = "{% static 'images/' %}";
    const step1Url = "{% url 'ai article writer' %}";
    const step2Url = "{% url 'get ideas' %}";
    const step3Url = "{% url 'get outlines' %}";
    const step4Url = "{% url 'get article' %}";
</script>
<script>
    function selectOutlines(liElement) {
        const allLiElements = document.querySelectorAll(".AllOutline ul li");
    
        allLiElements.forEach((li) => {
            const iconElement = li.querySelector('ion-icon');
    
            if (iconElement) {
                
                if (li !== liElement) {
                    li.classList.remove("active");
                    iconElement.setAttribute('name', 'ellipse-outline');
                } else {
                    iconElement.classList.add("active");
                    iconElement.setAttribute('name', 'ellipse-sharp');
                    nextButton.classList.add("valid");

                }
            }
        });

    }
    
    const btnToggle = document.querySelector(".toggle");
    const form = document.getElementById("select_individualForm");
    
    btnToggle.addEventListener("change", () => {
        btnToggle.classList.toggle("active");
        
        form.submit();
    });
</script>


<script>
    document.getElementById('nextButton').addEventListener('click', function() {
        // Get the selected keywords
        const activeOutlines = document.querySelectorAll('.AllOutline li.active .outlineText');
        const selectedOutlines  = Array.from(activeOutlines).map(keyword => keyword.textContent.trim());
        
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        
        // Create the data object to send in the AJAX request
        const data = {
            select_individual_outlines: "{{select_individual_outlines}}",
            selected_outlines: selectedOutlines
        };
    
        // Send the AJAX request
        fetch('save_outlines/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(result => {
            // Handle the response from the server if needed
            if (result.success) {
                // Redirect to the next step
                window.location.href = step4Url;

                console.log(result);
            }
        })
        .catch(error => {
            // Handle any errors that occurred during the AJAX request
            console.error(error);
        });
    });
    </script>
{% endblock %}
