{% extends 'base2.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}AI Article Writer | Feather.ia{% endblock  %}

{% block styles %}
<link rel="stylesheet" href="{% static 'Css/aIArticleWriter.css' %} " />
<link rel="stylesheet" href="{% static 'Css/emailTool.css' %}" />
{% endblock  %}

{% block bootstrap %}
{% endblock %}
{% block content %}

    <div class="main-page">
                    <div class="part-1">
                        <div>
                            <img
                                src="{% static 'images/aiArticle.svg' %}"
                                alt="email icon"
                            />
                            <p>ai article writer</p>
                        </div>
                        <div>
                            <a href="#">
                                <img
                                    src="{% static 'images/Icon  video.svg' %}"
                                    alt="icon video"
                                />
                            </a>
                            <img
                            src="{% static 'images/Icon out.svg' %}"
                            alt=""
                            class="iconExport"
                        />
                        </div>
                        
                    </div>

                    <div class="part-2">
                        <div class="part-2-1">
                            <div class="steps">
                                <div class="head">
                                    <img
                                        src="{% static 'images/task-square.svg' %}"
                                        alt=""
                                    />
                                    <p>follow steps</p>
                                </div>
                                <div class="step-by-step">
                                    <div class="one activeLast">
                                        <p class="stepNum ">1</p>
                                        <img
                                            src="{% static 'images/step-1.svg' %}"
                                            alt=""
                                        />
                                        <p class="stepText">KEYWORDS</p>
                                    </div>
                                    <span></span>
                                    <div class="two activeLast">
                                        <p class="stepNum">2</p>
                                        <img
                                            src="{% static 'images/step-2.svg' %}"
                                            alt=""
                                        />
                                        <p class="stepText">IDEAS</p>
                                    </div>
                                    <span></span>
                                    <div class="three activeLast ">
                                        <p class="stepNum">3</p>
                                        <img
                                            src="{% static 'images/step-3.svg' %}"
                                            alt=""
                                        />
                                        <p class="stepText">OUTLINE</p>
                                    </div>
                                    <span></span>
                                    <a href="{% url 'article-detail' pk=article.pk %}">
                                    <div class="four activeLast">
                                        <img
                                            src="{% static 'images/step-4.svg' %}"
                                            alt=""
                                        />
                                        <p class="stepNum">4</p>
                                        <p class="stepText">ARTICLE</p>
                                    </div>
                                    </a>
                                </div>
                            </div>

                            <!-- ------------------step 3 ------------>

                            <div class="complete-the-fields step three">
                                <div class="p1">
                                    <div class="head">
                                        <img
                                            src="{% static 'images/Icon ben.svg' %}"
                                            alt=""
                                        />
                                        <p>complete the fields</p>
                                    </div>
                                    <div>
                                        <label for="inputSearchKeywords">
                                            <p>topic</p>
                                            <img
                                                src="{% static 'images/Exclamation mark.svg' %}"
                                                alt=""
                                            />
                                        </label>
                                        <input
                                            type="text"
                                            placeholder="The Importance of UI/UX Design in Product Development"
                                            class="inputSearchKeywords"
                                            id="inputSearchKeywords"
                                            value="{{ article.title }}"
                                            />
                                    </div>
                                    <div>
                                        <label for="inputAddTag">
                                            <p>keywords</p>
                                            <img
                                                src="{% static 'images/Exclamation mark.svg' %}"
                                                alt=""
                                            />
                                        </label>
                                        <input
                                            type="text"
                                            placeholder="Add a tag..."
                                            class="inputAddTag"
                                            id="inputAddTag"
                                        />
                                        <div class="someKeyWords">

                                            {% for keyword in article.tags|split_string:","  %}
                                            <div>
                                                <p>{{keyword}}</p>
                                                <ion-icon
                                                    name="close-outline"
                                                    class="deleteKey"
                                                ></ion-icon>
                                            </div>  
                                            {% endfor %}
                                            
                                        </div>
                                    </div>
                                    <div>
                                        <label>
                                            <p>tone of voice</p>
                                        </label>
                                        <div class="divSelect tone">
                                            <p class="valueSelect">
                                                {{ article.outlines.first.idea.tone_of_voice}}
                                            </p>
                                            <ion-icon
                                                name="caret-down-outline"
                                            ></ion-icon>
                                        </div>
                                    </div>
                                    <div class="ulSelect tone">
                                        <ul>
                                            <li>Professional</li>
                                            <li>excited</li>
                                            <li>encouraging</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <label>
                                            <p>language</p>
                                        </label>
                                        <div class="divSelect language">
                                            <p class="valueSelect">{{ article.outlines.first.idea.language }}</p>
                                            <ion-icon
                                                name="caret-down-outline"
                                            ></ion-icon>
                                        </div>
                                    </div>
                                    <div class="ulSelect language">
                                        <ul>
                                            <li>English</li>
                                            <li>arabic</li>
                                            <li>German</li>
                                        </ul>
                                    </div>
                                </div>

                                <div>
                                    <div class="btnBack">
                                        <ion-icon
                                            name="caret-back-outline"
                                        ></ion-icon>
                                    </div>
                                    <input type="number" name="" id="" />
                                    <button type="submit" class="GenerateOutline">
                                        Generate Outlines
                                    </button type="submit">
                                    <div class="btnNext">
                                        <ion-icon
                                            name="caret-forward-outline"
                                        ></ion-icon>
                                    </div>
                                </div>
                            </div>
                            <!-- ---------------------------------- -->
                        </div>
                        <div class="part-2-2">
  
                            {% if article %}
                            <div class="AllOutline" style="display: block;">
                                {% if not article.outlines.first.select_individual_outlines %}
                                <button class="btnNext" id="nextButton">
                                    <p>next</p>
                                    <ion-icon name="paper-plane-outline" role="img" class="md hydrated"></ion-icon>
                                </button> 

                                {% else %}
                                <a href="{% url 'article-detail' pk=article.pk %}">
                                <button class="btnNext valid" id="nextButton">
                                    <p>next</p>
                                    <ion-icon name="paper-plane-outline" role="img" class="md hydrated"></ion-icon>
                                </button> 
                            </a>
                                {% endif %}

                                    <div class="toggle">
                                    <p>select individual outlines</p>
                                    <label class="switch">
                                        <input type="checkbox" name="select_individual" {% if article.outlines.first.select_individual_outlines %}checked{% endif %}>
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                <ul>
                                    {% if article.outlines.first.select_individual_outlines %}

                                    {% for outline in  article.outlines.all  %}

                                    <li class="active">
                                        <div class="select">
                                            <span>
                                                <ion-icon
                                                    name="checkmark-outline"
                                                ></ion-icon>
                                            </span>
                                            <p class="outlineText">
                                                {{outline}}
                                            </p>
                                        </div>
                                        <div class="details">
                                            <p>49 words / 224 character</p>
                                            <!-- <div class="edit">
                                                <img src="{% static 'images/copy.svg' %}" alt="" class="imgCopy">
                                                <img src="{% static 'images/Icon  trash.svg' %}" alt="" class="imgDelete">
                                                <img src="{% static 'images/Icon ben.svg' %}" alt="" class="imgEdit">
                                            </div> -->
                                        </div>
                                    </li>

                                    {% endfor %}



                                    {% else %}
                                    {% for outlines in genrated_outlines_list %}

                                    <li onclick="selectOutlines(this)">
                                        <div class="select">
                                            <div>
                                                <ion-icon name="ellipse-outline"></ion-icon>

                                            </div>
                                            <ul>
                                                {% for outline in  outlines %}
                                                <li class="outlineText">{{outline}}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="details">
                                            <p>49 words / 224 character</p>
                                        </div>
                                    </li>
                                    
                                    {% endfor %}

                                    {% endif %}
   
                                </ul>
                            </div>
                           
                            {% endif %}

                            <!-- -------------------- -->

                            <!-- --------------------- -->
                        </div>
                    </div>
    </div>

{% endblock %}
{% block scripts %}
<script src=" {% static 'Js/aIArticleWriter.js' %}"></script>
<script src=" {% static 'Js/js-3.js' %}"></script>
<script src=" {% static 'Js/js-4.js' %}"></script>
<script src=" {% static 'Js/js-1.js' %}"></script>
<script>
    var staticUrl = "{% static 'images/' %}";
</script>


{% endblock %}
