<div class="video-con active-con" video="https://www.youtube.com/embed/T4YpDqqVM8k">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/T4YpDqqVM8k/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLAvtvpCFN-RAlH9uJCNt5OASDyiNg" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">تمهيد عن الرسم العثماني ومراتب التلاوة والقراءات العشر</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/Bhlwaa1CD_g">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/Bhlwaa1CD_g/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLC8D-f_QThlQEuJyXHpQXQ6UHjBAw" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">مقدمة عن علم التجويد وكيفية تعلمه وإتقانه</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/3c-ZW0xORns">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/3c-ZW0xORns/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLCun_mh9G9GvanVqKYDJZE8MnbX_w" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">المخارج والصفات للحروف العربية</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/oFZ2sjz4-Ag">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/oFZ2sjz4-Ag/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLCZZTrGgC9SrMjj4XFjzGKZKpmflA" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">حروف العلة والحركات</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/E58FB-b6zAM">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/E58FB-b6zAM/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLAi1ir6L6S56NSelMgMEJOw0q3KfQ" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">أخطاء شائعة في نطق الحروف العربية</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/AestQXOVlAk">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/AestQXOVlAk/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLB5uxepPhpTnknw3okmrShv-cDzRw" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">أخطاء شائعة في تلاوة الفاتحة</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/lezZYpqjyBg">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/lezZYpqjyBg/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLAsQ8jnpTRuP6bFiEQWBDIg8ufVcA" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">أحكام الإبتداء الإستعاذة والبسملة</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/AIYfzFlnPDc">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/AIYfzFlnPDc/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLCi-alWRfN0Nf4Kqcx4SyfapfJkBA" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">مقدمة عن التقاء الحرفين</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/U4lo6SF02aQ">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/U4lo6SF02aQ/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLA4mFVZWon06pPmQgKs26xdc18GuA" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">مقدمة أحكام النون الساكنة والتنوين</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/cyftDvg_nZU">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/cyftDvg_nZU/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBuPLIRLE19vjXUNfu5IZelrEc1zg" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">الادغام بغنة للنون الساكنة والتنوين</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/EtTkwFudlHs">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/EtTkwFudlHs/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLCB5akZrb-WEYlOELGnsq_hSzJfJQ" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">الادغام بغير غنة للنون الساكنة والتنوين</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/TyQg935VfJU">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/TyQg935VfJU/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBuTtV9-ZRBz4yURo7B4isDE9N_9A" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">الاقلاب للنون الساكنة والتنوين</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/Zw4F-3q_UfE">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/Zw4F-3q_UfE/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLC7PRqzWg3wTsyv_Oqu6icaXtb5BQ" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">الإظهار للنون الساكنة والتنوين</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/xhSR3wDrURM">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/xhSR3wDrURM/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLCqeOyKCemFm8-nQ7XnY9_g8g7-3A" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">الاخفاء للنون الساكنة و التنوين</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/M94PK6hIJk0">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/M94PK6hIJk0/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLDk27KAR_odhLqZIEAUf0HxDMD-RA" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">مقدمة أحكام الميم الساكنة
      </div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/Y42jxD2uFkc">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/Y42jxD2uFkc/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLCMeH0PZLJhSgtvDf4jqXpfDaFqkw" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">الإخفاء الشفوي للميم الساكنة</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/hf_vPzMNNQ0">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/hf_vPzMNNQ0/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLAdFipk3mgUVEDwmSpAM5orSLdlZw" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">النون والميم المشددتين</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/kAnPoYu-KR8">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/kAnPoYu-KR8/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLAdNLlZuYe0gnY9wdZETuGX-61sZA" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">القلقلة</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/KSW96kyGlj4">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/KSW96kyGlj4/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLDqUmJv6e4vqoBDQLM7q01Z0hLDrQ" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">مقدمة التفخيم والترقيق</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/MrLjGfTMAdE">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/MrLjGfTMAdE/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLDKc3zPu2O49edk8-5JaI4YuiJ49A" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">تفخيم وترقيق الراء
      </div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/RpTC0AfjQW4">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/RpTC0AfjQW4/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLC2ghgQLKuMITmnb7AKzn-hT3uU2Q" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">مقدمة أحكام المد</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/Oq8OOz103Qw">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/Oq8OOz103Qw/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBsHAG9Ai7xdFqxjJNv2TlFphxiOA" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">المد الطبيعي والبدل والعوض</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/hppD8iLr0Ko">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/hppD8iLr0Ko/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLDiZiYllSX_VdxddBjIvOoVY6EgDw" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">المد المتصل والمنفصل</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/ccDHB3_v3iE">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/ccDHB3_v3iE/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLDAkoTUGYlIO1vJbGIPbxfxjceNCA" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">مد الصلة الصغرى والكبرى</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/iRCtTy2qlT4">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/iRCtTy2qlT4/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBEXs7kHPD5xbYOAwtUu9m3LQhUjQ" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">مد اللازم</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/sTSVUP_nxJ0">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/sTSVUP_nxJ0/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLDKcXfvu8cRRdCs0UZwXcR1CFRWzw" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">مد العارض للسكون واللين</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/FCNEjXaLeWQ">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/FCNEjXaLeWQ/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLCse8qq8s652IckgIswPf0-4VpPvA" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">الهمزات ومد الفرق</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/nO-nVH5ACwY">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/nO-nVH5ACwY/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLDLPOGJp7AkiE7AEmoiTfMH7BQnxQ" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">الأخطاء الشائعة قي سورة الفاتحة</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/gcLKpTpUA1s">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/gcLKpTpUA1s/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLA-tPyxTmEjLd7wolGRtLKF8DXlDQ" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">بشارة معاودة إطلاق ما تبقى من دروس التجويد</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/O9uT_SibWXI">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/O9uT_SibWXI/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBSWh8rvJckbsgPwUMD1Ez0uXVAeg" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">الإخفاء في دقيقتين ونصف</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/wzhusL5Fgk8">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/O9uT_SibWXI/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBSWh8rvJckbsgPwUMD1Ez0uXVAeg" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">إخفاء النون الساكنة والتنوين -الجزء الأول</div>
    </div>
  </div>

  <div class="video-con active-con" video="https://www.youtube.com/embed/T6HB7AvjDTA">
    <div class="index title">0</div>
    <div class="thumb">
      <img src="https://i.ytimg.com/vi/T6HB7AvjDTA/hqdefault.jpg?sqp=-oaymwE1CKgBEF5IVfKriqkDKAgBFQAAiEIYAXABwAEG8AEB-AH-CYAC0AWKAgwIABABGGUgRyhCMA8=&rs=AOn4CLAJ4TPFOcZQprFQEwRDAI8Jz53fkg" alt="">
    </div>
    <div class="v-titles">
      <div class="title mx-2">الاخفاء للنون الساكنة والتنوين الجزء الثاني</div>
    </div>
  </div>