{% load static %}
<!-- Navbar Start -->
<div class="container-fluid nav-bar p-0">
   <div class="container-lg p-0">
       <nav class="navbar navbar-expand-lg bg-secondary navbar-dark">
           <a href="/" class="navbar-brand">
               <h1 class="m-0 text-white display-4"><span class="text-primary"></span><span class="text-primary">S</span>ummary</h1>
           </a>
           <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
               <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
               <div class="navbar-nav ml-auto py-0">
                   <a href="/" class="nav-item nav-link active">Home</a>
                   <a href="{% url 'summy:text'  %}" class="nav-item nav-link">Text</a>
                   <a href="{% url 'summy:files'   %}" class="nav-item nav-link">files</a>
                   <a href="{% url 'summy:video' %}" class="nav-item nav-link">Video</a>
                   <a href="{% url 'summy:url'   %}" class="nav-item nav-link">Url</a>
               </div>
           </div>
       </nav>
   </div>
</div>
<!-- Navbar End -->