{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>        
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'Css/main.css' %} " />
    <link rel="stylesheet" href="{% static 'Css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'Css/aside.css' %} " />
    <link rel="stylesheet" href="{% static 'Css/dashboard.css' %}" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
/>
<!-- Google Fonts -->
<link
    href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
    rel="stylesheet"
/>
<link
    href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
    rel="stylesheet"
/>

    {% block styles %}{% endblock  %}
    {% block bootstrap %}<link rel="stylesheet" href="{% static 'Css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'Css/pretty-checkbox.min.css'%}">{% endblock  %}
    
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="icon" href="{% static 'images/favicon.png' %}">

</head>

<body >


<div class="container">
    {% block home_nav %}
    <!--nav bar-->  
    {% include 'partials\home_nav.html' with user=request.user %}
    {% endblock %} 
<section class="sec-home" id="main-page">
{% block home_side %}
    <!--side bar-->  
{% include 'partials\home_side.html' %}
{% endblock %} 

{% block content %}
{% endblock %}

</section>
</div>

<script
type="module"
src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
nomodule
src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>
<script src="{% static 'Js/main.js' %} "></script>
<script src="{% static 'Js/createMainPage.js' %} "></script>
<script src="{% static 'Js/dashboard.js' %} "></script>

{% block scripts %}{% endblock  %}
    </body>
</html>