{% load static %}<nav>
    <a href="{% url 'home' %}">
        <img class="logo" src="{% static 'images/feather ai logo.svg' %}" alt="logo feather.ai">
    </a>
    
    <button>
        <a>
            <img src="{% static 'images/Icon copy.svg' %}" alt="copy">
            <p>create copy</p>
        </a>
    </button>
    <button>
        <a href="{% url 'saved-copies' %}">
            <img src="{% static 'images/Icon saved.svg' %}" alt="save">
            <p>save copies</p>
        </a>
    </button>
    <div class="info">
        <img id="notification" src="{% static 'images/Icon bing.svg' %}" alt="bing">
        <span></span>
        <div class="img">
            <img src="{% static 'images/MyPersonalPhoto.svg' %}" alt="My personal photo">
        </div>
        <ion-icon name="chevron-down-outline" id="btnProfileInfo" role="img" class="md hydrated"></ion-icon>
        <div class="profile-info" id="profile-info">
            <div class="my-data">
                <div class="img">
                    <img src="{% static 'images/MyPersonalPhoto.svg' %}" alt="my personal photo">
                </div>
                <p>
                    {{ user.username }}
    
                    <br>
                    <span> 
                    {% if user.email == "" %}
                    user@example.com
                    {% else %} 
                    {{ user.email }}
                    {% endif %}    
                    </span>
                </p>
            </div>
            <ul>
                <a href="{% url 'change_language' %}">
                <li>
                    <img src="{% static 'images/Icon language-2.svg' %}" alt="language icon">
                    <p>languages</p>
                </li>
            </a>
            <a href="{% url 'Profile_Details' %}">
                <li>
                    <img src="{% static 'images/Icon person.svg' %}" alt="person icon">
                    <p>profile details</p>
                </li>
            </a>
                <li>
                    <img src="{% static 'images/Icon people.svg' %}" alt="people icon">
                    <p>team</p>
                </li>
                <li>
                    <img src="{% static 'images/Icon Ask.svg' %}" alt="asking icon">
                    <p>ask the community</p>
                </li>
                <span class="hr"></span>
                <li>
                    <img src="{% static 'images/Icon help.svg' %}" alt="helping icon">
                    <p>help center</p>
                </li>
                <li>
                    <a href="#">
                        <img src="{% static 'images/Icon log out.svg' %}" alt="log out icon">
                        <p><a href="{% url 'logout' %}"> log out</a></p>
                    </a>
                    
                </li>
            </ul>
        </div>
    </div>
    </nav>