{% load static %}

<footer class="container">
    <div class="p1">
        <div>
            <img src="{% static 'images/feather ai logo.svg' %} " alt="" class="logo" />
            <div>
                <img src="{% static 'images/icon-1-8.svg' %} " alt="" />
                <img src="{% static 'images/icon-1-9.svg' %} " alt="" />
            </div>
        </div>
        <div>
            <p>Tools</p>
            <ul>
                <li>
                    <a href="#">AI Article Writer</a>
                </li>
                <li>
                    <a href="#">Paraphrasing Tool</a>
                </li>
                <li>
                    <a href="#">Sentence Expander</a>
                </li>
            </ul>
        </div>
        <div>
            <p>Free Tools</p>
            <ul>
                <li>
                    <a href="#">Freather - AI Chat Assistant</a>
                </li>
                <li>
                    <a href="#">Product Name Generator</a>
                </li>
            </ul>
        </div>
        <div>
            <p>Compare</p>
            <ul>
                <li>
                    <a href="#">Jasper</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">ChatGPT</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="p2">
        <p>Earn 40% commission as a ChatSonic Affiliate Partner</p>
        <button>JOIN US NOW</button>
    </div>
    <div class="p3">
        <p>© 2023 Feather.ai, Inc. All rights reserved.</p>
        <p>Backed by</p>
        <p>TermsPrivacy Policy</p>
    </div>
</footer>